

*{
    font-family: 'Barlow', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #37373bc9;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    background-color: #37373b;
    border-bottom: 5px solid #e51599;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 2;
}

.logo{
    width: 100px;
    height: 100px;
}
.buscadorPadre{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lupa{
    cursor: pointer;
    background-color: transparent;
    height: 50px;
    width: 40px;
    border: none;
}
.lupaBtnPrincipal{
    cursor: pointer;
    border: none;
    height: 50px;
    width: 250px;
    border-radius: 25px 25px 25px 25px;
    background-color: #e51599;
}

button:hover{
    transform: scale(1.1);
    transition-duration: 400ms;
    box-shadow: 5px 5px 5px #151515;
}
.btnIngreso,.btnPerfil{
    cursor: pointer;
    font-family: 'Barlow';
    font-size: 1.5rem;
    background-color: transparent;
    color: #e51599;
    border-radius: 10px;
    border: 1px solid #e51599;
    height: 50px;
    width: 150px;
}

.subTitulo{
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #fffefe;
    text-shadow: #e51599 2px 2px 2px;
}
.primero{
    color: #fffefe;
    text-shadow: #e51599 2px 2px 2px;
    font-size: 3rem;
}
.oferta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
    height: 90vh;
    background: center url(/assets/images/4.jpg);
    color: #fffefe;
}
.segundo{
    font-size: 5rem;
    text-shadow: #151515 2px 2px 2px;
}
.tercero{
    font-size: 2.5rem;
    margin: 10px 0px 15px 100px;
}
.info{
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
    text-shadow: #151515 2px 2px 2px;
    font-weight: 600;
}

.btnOfertas{
    width: 250px;
    height: 70px;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    background-color: #e51599;
    cursor: pointer;
    color: #fffefe;
    border: none;
    border-radius: 15px;
}
.albumes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:  #37373bc9;
}
.btnAlbumes{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 15px;
}
.btn_verTodo{
    margin: 15px;
    color: #e51599;
    border: 1px solid #e51599;
    padding: 10px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn_verTodo:hover{
    box-shadow: 0px 0px 0px;
    transform: scale(1.2);
}
/* Albumes */
.masVendidos,.loNuevo,.descuentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 55px;
}
/* Footer */
footer{
    border-top: 5px solid #e51599;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #37373b;
    padding: 55px 0px 55px 0px;
    color: #fffefe;
    z-index: 1;
}

.logoFinal{
    width: 250px;
    height: 250px;
}
.FAQ{
    text-align: center;
    list-style: none;
    line-height: 55px;
}
.linkFooter{
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: #fffefe;;
}
.linkFooter:hover{
    color: #e51599;
    transform: scale(1.1);
    transition-duration: 400ms;
}
.mensaje{
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.tituloFooter{
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
.creditos{
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    margin: 15px 0 15px 0;
    
}
.msjFooter{
    resize: none;
    border-radius: 15px;
    padding:15px;
}
.nombreFooter{
    height: 45px;
    padding: 15px;
    border-radius: 15px;
}
.btnEnviar{
    border: none;
    height: 45px;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    border-radius: 15px;
    background-color: #e51599; 
}
.btnEnviar:hover{
    color: #fffefe;
}
/* Albumes */

#padre{
    display: flex;
    justify-content: center;
    align-items: center;;
    flex-wrap: wrap;
    gap: 25px;
    margin: 10px 0px 0 10px;
}
.hijo{
    max-width: 200px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    flex-direction: column;
    border: 2px solid #fffefe;
    text-align: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.hijo:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 400ms;
    border-color: #e51599;
    box-shadow: #e51599 5px 5px 5px;
}
.img_album{
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.titulo_album{
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: #fffefe;
    font-size: 1.3rem;
    margin-top: 15px;
}
.autor_album{
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    color: #151515;
    opacity: 75%;
}
.anio_album{
    font-family: 'Barlow', sans-serif;
    color: #151515;
    font-size: 0.8rem;
}
.precio_album{
    margin-top: 10px;
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;;
}
a{
    text-decoration:none ;
}

.ocultarBtn{
    display: none;
}
.sectionContent{
    margin-bottom: 50px;
}
.btnOpc{
    box-shadow: none !important;;
}

@media (max-width: 768px) and (min-width: 400px) {
    *{
        overflow-x: hidden;
    }
    
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        background-color: #37373b;
        border-bottom: 5px solid #e51599;
        top: 0;
        position: sticky;
        position: -webkit-sticky;
        z-index: 2;
    }
    
    .logo{
        width: 50px;
        height: 50px;
    }
    .buscadorPadre{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lupa{
        cursor: pointer;
        background-color: #e51599;
        border-radius: 25px 25px 25px 25px;
        padding: 5px 10px;
        height: 30px;
        width: 30px;
    }
    .lupaBtnPrincipal{
        height: 60px;
        width: 60px;
        background-color: transparent;
    }
    .btnIngreso,.btnPerfil{
        cursor: pointer;
        font-family: 'Barlow';
        font-size: 1.3rem;
        background-color: transparent;
        color: #e51599;
        border-radius: 10px;
        border: 1px solid #e51599;
        height: 50px;
        width: 90px;
    }
    
    .subTitulo{
        text-align: center;

    }
    .info{
       text-align: center;
    }
    
    .tercero{
        margin: 10px 0px 15px 0px;
    }
    footer{
        flex-direction: column;
    }
}