:root{
    -blanco: #fffefe;
    -gris: #37373b;
    -celeste: #96d0ef;
    -azul: #403ecc;
    -negro: #151515;
    -azulZafiro: #086788;
    /* Otros colores interesantes */
    -rosa: #e51599;
    /* Amarillo: #fdd504 */
    /* Celeste2: #3cc6c8*/


    -cuerpo: 'Barlow', sans-serif;
    -titulo: 'Rubik Glitch', cursive;
}

*{
    font-family: 'Barlow', sans-serif;

    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 110px;
    background-color: #086788;
}
.logo{
    width: 100px;
    height: 100px;
}
.buscadorPadre{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buscador{
    height: 50px;
    width: 250px;
    color: #e51599;
    background-color: #37373b;
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 15px;
    border-radius: 25px 0px 0px 25px;
}

.lupa{
    cursor: pointer;
    background-color: transparent;
    height: 50px;
    width: 40px;
    border: none;
}
.lupaBtnPrincipal{
    cursor: pointer;
    border: none;
    height: 50px;
    width: 250px;
    border-radius: 25px 25px 25px 25px;
    background-color: #37373b;
}

button:hover{
    transform: scale(1.1);
    transition-duration: 400ms;
    box-shadow: 5px 5px 5px;
}
.btnIngreso{
    cursor: pointer;
    font-family: 'Barlow';
    font-size: 1.5rem;
    background-color: #96d0ef;
    color: #fffefe;
    border-radius: 10px;
    border: 1px solid #fffefefe;
    height: 50px;
    width: 150px;
}

.subTitulo{
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #fffefe;
    text-shadow: #e51599 2px 2px 2px;
}
.primero{
    color: #fffefe;
    text-shadow: #e51599 2px 2px 2px;
    font-size: 3rem;
}
.oferta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
    height: 500px;
    background: center url(/assets/images/4.jpg);
    color: #fffefe;
}
.segundo{
    font-size: 3rem;
    text-shadow: #151515 2px 2px 2px;
}
.info{
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
    text-shadow: #151515 2px 2px 2px;
    font-weight: 600;
}

.btnOfertas{
    width: 250px;
    height: 100px;
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Barlow', sans-serif;
    background-color: #086788;
    cursor: pointer;
    color: #fffefe;
    border: none;
    border-radius: 15px;
}
.albumes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #37373b;
}
.btnAlbumes{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 15px;
}
.btn_verTodo{
    color: #086788;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn_verTodo:hover{
    box-shadow: 0px 0px 0px;
    text-decoration: underline;
    transform: scale(1.2);
}
/* Albumes */
.masVendidos,.loNuevo,.descuentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
/* Footer */
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #96d0ef;
    padding: 55px 0px 55px 0px;
}

.logoFinal{
    width: 250px;
    height: 250px;
}
.FAQ{
    text-align: center;
    list-style: none;
    line-height: 55px;
}
.linkFooter{
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: #151515;
}
.linkFooter:hover{
    color: #e51599;
    transform: scale(1.1);
    transition-duration: 400ms;
}
.mensaje{
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.tituloFooter{
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
.creditos{
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    margin: 15px 0 15px 0;
}
.msjFooter{
    resize: none;
}
.nombreFooter{
    height: 45px;
}
.btnEnviar{
    border: none;
    height: 45px;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    border-radius: 15px;
}
/* Albumes */

#padre{
    display: flex;
    justify-content: center;
    align-items: center;;
    flex-wrap: wrap;
    gap: 25px;
    margin: 10px 0px 0 10px;
}
.hijo{
    max-width: 200px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    flex-direction: column;
    border: 2px solid blue;
    background-color: rgb(233, 233, 233);
    text-align: center;
}
.hijo:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 400ms;
    border-color: aqua;
    box-shadow: 5px 5px 5px;
}
.img_album{
    background-color: aqua;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.titulo_album{
    font-family: monospace;
    font-size: 1.1rem;
    margin-top: 15px;
}
.autor_album{
    font-size: 1rem;
    font-family: monospace;
    opacity: 75%;
}
.anio_album{
    font-family: monospace;
    font-size: 0.8rem;
}