.contenedorMayor{
    display: flex;
}
.contenedorMenor{
   display: flex;
   flex-direction: column;
    margin: 55px 150px 50px 150px;
    gap: 15px;
}
.contenedorInterno{
    display: flex;
    flex-direction: column;
}

.imgObj{
    width: 300px;
    height: 300px;
}
.tituloObj{
    font-size: 4rem;
}
.autorObj{
    font-size: 2rem;
    opacity: 75%;
}
.yearObj{
    font-size: 1.5rem;
}
.descObj{
    color: black;
    font-size: 2rem;
}
.precio_album{
    font-size: 5rem;
}

.ocultarBtn{
    display: none;
}