.divPadre{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 50px 0 50px;
}
.divHijo{
    border: 2px solid black;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.divHijo:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px ;
    transform: scale(1.1);
    transition-duration: 400ms;
}
.fotoHijo{
    width: 230px;
    height: 200px;
}
.tituloHijo{
    font-size: 2rem;
}
.autorHijo{
    font-size: 1.2rem;
    opacity: 75%;
}
.ocultarBtn{
    display: none;
}